<a href="https://colab.research.google.com/github/Shafna81/fakenewsdetection/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!git clone https://github.com/jibranfawaid/turnbackhoax-dataset.git

fatal: destination path 'turnbackhoax-dataset' already exists and is not an empty directory.

In [ ]:
!git clone https://github.com/pierobeat/Hoax-News-Classification

fatal: destination path 'Hoax-News-Classification' already exists and is not an empty directory.

In [ ]:
import pandas as pd
import os
import warnings
warnings.filterwarnings("ignore")
import numpy as np

In [ ]:
!pip install Sastrawi
import re
import pandas as pd
import numpy as np
import random
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory

Requirement already satisfied: Sastrawi in /usr/local/lib/python3.10/dist-packages (1.0.1)
Requirement already satisfied: gensim in /usr/local/lib/python3.10/dist-packages (4.3.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.22.4)
Requirement already satisfied: scipy>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from gensim) (1.10.1)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from gensim) (6.3.0)

In [ ]:
# Load the "Fix" sheet of the Excel file into a pandas DataFrame
df = pd.read_excel('turnbackhoax-dataset/Meta Data.xlsx', sheet_name='Fix')

# Print the first few rows of the DataFrame to verify that it loaded correctly
df.head()

,Label,Headline,Body
0,1,Pertamina dan Pemerintah Kalrifikasi Isu BBM N...,Foto: Kumparan.com Debunk ini berisi iKlarifik...
1,1,Polda Nusa Tenggara Barat Mengklarifkasi Bahwa...,Foto Ilustrasi Perkosaan Debunk ini berisi kla...
2,1,PT Ultrajaya Milk Industry Tbk Mengklarifikasi...,Debunk ini berisi klarifikasi dari PT Ultrajay...
3,1,BBKSDA Jatim Mengklarifikasi Bahwa Wisata Alam...,foto: tribunnews.com Debunk ini berisi Klrifik...
4,1,BMKG Mataram Menghimbau Agar Warga Tidak Langs...,Foto: tribunnews.com (Jokowi sedang memantau l...

In [ ]:
df["Text"] = df["Headline"] + " " + df["Body"]

In [ ]:
df3 = pd.read_csv('Hoax-News-Classification/data/500_berita_indonesia.csv', sep=";")
df3.head()

  kategori                                             berita
0    valid  "Gunung Agung erupsi untuk pertama kali pada 2...
1    valid  "Jakarta, CNN Indonesia -- Menteri BUMN Erick ...
2    valid  "Dosen Fakultas Kedokteran Hewan IPB, Yusuf Ri...
3    valid  "Jakarta - Dua anggota TNI, Serda N dan Serda ...
4    valid  "Akui Tembak Jatuh Pesawat Ukraina, Iran Tuai ...

In [ ]:
df3["Label"] = df3["kategori"].replace("valid", 1).replace("hoax",0)
df3["Text"] = df3["berita"]
df3

,kategori,berita,Label,Text
0,valid,"""Gunung Agung erupsi untuk pertama kali pada 2...",1,"""Gunung Agung erupsi untuk pertama kali pada 2..."
1,valid,"""Jakarta, CNN Indonesia -- Menteri BUMN Erick ...",1,"""Jakarta, CNN Indonesia -- Menteri BUMN Erick ..."
2,valid,"""Dosen Fakultas Kedokteran Hewan IPB, Yusuf Ri...",1,"""Dosen Fakultas Kedokteran Hewan IPB, Yusuf Ri..."
3,valid,"""Jakarta - Dua anggota TNI, Serda N dan Serda ...",1,"""Jakarta - Dua anggota TNI, Serda N dan Serda ..."
4,valid,"""Akui Tembak Jatuh Pesawat Ukraina, Iran Tuai ...",1,"""Akui Tembak Jatuh Pesawat Ukraina, Iran Tuai ..."
...,...,...,...,...
495,hoax,"""AA Gym : Lebih baik pilih pemimpin koruptor t...",0,"""AA Gym : Lebih baik pilih pemimpin koruptor t..."
496,hoax,"""Sebuah gambar dengan keterangan “Sultan Erdog...",0,"""Sebuah gambar dengan keterangan “Sultan Erdog..."
497,hoax,"""Restoran Padang ""Sederhana"" sedang merayakan ...",0,"""Restoran Padang ""Sederhana"" sedang merayakan ..."
498,hoax,"""Ini adalah binatang yang langka dan sangat be...",0,"""Ini adalah binatang yang langka dan sangat be..."
499,hoax,"""Mohon ijin sekedar info, menginformasikan bah...",0,"""Mohon ijin sekedar info, menginformasikan bah..."

In [ ]:
df3 = df3.drop(columns=['kategori', 'berita'])

In [ ]:
df3

     Label                                               Text
0        1  "Gunung Agung erupsi untuk pertama kali pada 2...
1        1  "Jakarta, CNN Indonesia -- Menteri BUMN Erick ...
2        1  "Dosen Fakultas Kedokteran Hewan IPB, Yusuf Ri...
3        1  "Jakarta - Dua anggota TNI, Serda N dan Serda ...
4        1  "Akui Tembak Jatuh Pesawat Ukraina, Iran Tuai ...
..     ...                                                ...
495      0  "AA Gym : Lebih baik pilih pemimpin koruptor t...
496      0  "Sebuah gambar dengan keterangan “Sultan Erdog...
497      0  "Restoran Padang "Sederhana" sedang merayakan ...
498      0  "Ini adalah binatang yang langka dan sangat be...
499      0  "Mohon ijin sekedar info, menginformasikan bah...

[500 rows x 2 columns]

In [ ]:
df4 = pd.read_csv('drive/MyDrive/Colab Notebooks/SKRIPSI/datasetmendeley.csv', sep=";", encoding='iso-8859-1')
df4.head()

                                              berita tagging
0  Jakarta, Di jejaring sosial, banyak beredar in...   Valid
1  Isu bahwa ikan lele mengandung sel kanker di j...   Valid
2  Bagi penikmat kuliner dengan bahan dasar ikan ...   Valid
3  Ikan lele merupakan salah satu makanan favorit...   Valid
4  Ikan lele merupakan bahan makanan yang cukup p...   Valid

In [ ]:
df4["Label"] = df4["tagging"].replace("Valid", 1).replace("Hoax",0)
df4["Text"] = df4["berita"]
df4

,berita,tagging,Label,Text
0,"Jakarta, Di jejaring sosial, banyak beredar in...",Valid,1,"Jakarta, Di jejaring sosial, banyak beredar in..."
1,Isu bahwa ikan lele mengandung sel kanker di j...,Valid,1,Isu bahwa ikan lele mengandung sel kanker di j...
2,Bagi penikmat kuliner dengan bahan dasar ikan ...,Valid,1,Bagi penikmat kuliner dengan bahan dasar ikan ...
3,Ikan lele merupakan salah satu makanan favorit...,Valid,1,Ikan lele merupakan salah satu makanan favorit...
4,Ikan lele merupakan bahan makanan yang cukup p...,Valid,1,Ikan lele merupakan bahan makanan yang cukup p...
...,...,...,...,...
595,Kabar yang beredar seputar rencana kenaikan ga...,Valid,1,Kabar yang beredar seputar rencana kenaikan ga...
596,Kabar yang beredar seputar rencana kenaikan ga...,Valid,1,Kabar yang beredar seputar rencana kenaikan ga...
597,"Akhir-akhir ini, beredar pemberitaan yang meny...",Valid,1,"Akhir-akhir ini, beredar pemberitaan yang meny..."
598,Rancangan peraturan pemerintah (RPP) tentang G...,Valid,1,Rancangan peraturan pemerintah (RPP) tentang G...
599,Kabar yang beredar seputar rencana kenaikan ga...,Valid,1,Kabar yang beredar seputar rencana kenaikan ga...

In [ ]:
df4 = df4.drop(columns=['tagging', 'berita'])

In [ ]:
df4

     Label                                               Text
0        1  Jakarta, Di jejaring sosial, banyak beredar in...
1        1  Isu bahwa ikan lele mengandung sel kanker di j...
2        1  Bagi penikmat kuliner dengan bahan dasar ikan ...
3        1  Ikan lele merupakan salah satu makanan favorit...
4        1  Ikan lele merupakan bahan makanan yang cukup p...
..     ...                                                ...
595      1  Kabar yang beredar seputar rencana kenaikan ga...
596      1  Kabar yang beredar seputar rencana kenaikan ga...
597      1  Akhir-akhir ini, beredar pemberitaan yang meny...
598      1  Rancangan peraturan pemerintah (RPP) tentang G...
599      1  Kabar yang beredar seputar rencana kenaikan ga...

[600 rows x 2 columns]

In [ ]:
def preprocessing(text):
    # case folding
    text = text.lower()

    # remove punctuation and non-alphabetic characters
    text = re.sub(r'[^\w\s]', '', text)

    # remove numbers
    text = re.sub(r'\d+', '', text)

    # stopword removal
    factory = StopWordRemoverFactory()
    stopwords = factory.get_stop_words()
    words = text.split()
    text = " ".join([word for word in words if word not in stopwords])

    return text

In [ ]:
df.head()

,Label,Headline,Body,Text
0,1,Pertamina dan Pemerintah Kalrifikasi Isu BBM N...,Foto: Kumparan.com Debunk ini berisi iKlarifik...,Pertamina dan Pemerintah Kalrifikasi Isu BBM N...
1,1,Polda Nusa Tenggara Barat Mengklarifkasi Bahwa...,Foto Ilustrasi Perkosaan Debunk ini berisi kla...,Polda Nusa Tenggara Barat Mengklarifkasi Bahwa...
2,1,PT Ultrajaya Milk Industry Tbk Mengklarifikasi...,Debunk ini berisi klarifikasi dari PT Ultrajay...,PT Ultrajaya Milk Industry Tbk Mengklarifikasi...
3,1,BBKSDA Jatim Mengklarifikasi Bahwa Wisata Alam...,foto: tribunnews.com Debunk ini berisi Klrifik...,BBKSDA Jatim Mengklarifikasi Bahwa Wisata Alam...
4,1,BMKG Mataram Menghimbau Agar Warga Tidak Langs...,Foto: tribunnews.com (Jokowi sedang memantau l...,BMKG Mataram Menghimbau Agar Warga Tidak Langs...

In [ ]:
df = df.drop(columns=['Headline', 'Body'])

In [ ]:
if not os.path.exists('drive/MyDrive/Colab Notebooks/SKRIPSI'):
   os.makedirs('drive/MyDrive/Colab Notebooks/SKRIPSI')

In [ ]:
combined_df = pd.concat([df, df3, df4], ignore_index=True)
combined_df

      Label                                               Text
0         1  Pertamina dan Pemerintah Kalrifikasi Isu BBM N...
1         1  Polda Nusa Tenggara Barat Mengklarifkasi Bahwa...
2         1  PT Ultrajaya Milk Industry Tbk Mengklarifikasi...
3         1  BBKSDA Jatim Mengklarifikasi Bahwa Wisata Alam...
4         1  BMKG Mataram Menghimbau Agar Warga Tidak Langs...
...     ...                                                ...
2211      1  Kabar yang beredar seputar rencana kenaikan ga...
2212      1  Kabar yang beredar seputar rencana kenaikan ga...
2213      1  Akhir-akhir ini, beredar pemberitaan yang meny...
2214      1  Rancangan peraturan pemerintah (RPP) tentang G...
2215      1  Kabar yang beredar seputar rencana kenaikan ga...

[2216 rows x 2 columns]

In [ ]:
combined_df["Text"] = combined_df["Text"].apply(preprocessing)
combined_df

      Label                                               Text
0         1  pertamina pemerintah kalrifikasi isu bbm naik ...
1         1  polda nusa tenggara barat mengklarifkasi kejad...
2         1  pt ultrajaya milk industry tbk mengklarifikasi...
3         1  bbksda jatim mengklarifikasi wisata alam kawah...
4         1  bmkg mataram menghimbau warga langsung percaya...
...     ...                                                ...
2211      1  kabar beredar seputar rencana kenaikan gaji pr...
2212      1  kabar beredar seputar rencana kenaikan gaji pr...
2213      1  akhirakhir beredar pemberitaan menyatakan kena...
2214      1  rancangan peraturan pemerintah rpp gaji tunjan...
2215      1  kabar beredar seputar rencana kenaikan gaji pr...

[2216 rows x 2 columns]

In [ ]:
combined_df.to_csv('drive/MyDrive/Colab Notebooks/SKRIPSI/dataset.csv', index=False)

In [ ]:
df2 = pd.read_csv('drive/MyDrive/Colab Notebooks/SKRIPSI/dataset.csv')

In [ ]:
df2.head()

   Label                                               Text
0      1  pertamina pemerintah kalrifikasi isu bbm naik ...
1      1  polda nusa tenggara barat mengklarifkasi kejad...
2      1  pt ultrajaya milk industry tbk mengklarifikasi...
3      1  bbksda jatim mengklarifikasi wisata alam kawah...
4      1  bmkg mataram menghimbau warga langsung percaya...